html {
    font-family: sans-serif;
    font-family: 'Exo 2', sans-serif;
}



.contactez-moi-box {
    
    padding: 0.2em;
    display: flex;
    border-radius: 1em;
    margin-top: -2.5em;
    gap: 0.5em;
    align-items: first baseline
    
 }
 
 
 .realisation-title{
 color:#057d9e ;
 font-weight: bold;
font-size: 1.2em;

 }
 
 .realisation-list {
     width: 10em;
     line-height: 120%;
     display: flex;
    flex-wrap: wrap;
 }
 
 .contact-button {
     color: white;
     border: solid 1px #057d9e;
     color: #057d9e;
     background-color: white;
     border-radius: 1em;
     padding-top: 0.2em;
     padding-bottom: 0.4em;
     padding-left: 0.2em;
     padding-right: 0.2em;
     font-size: 1.2em;
    
     align-items: center;
 }
 
 .contact-button:hover {
     border: #057d9e solid;
     background-color: #057d9e;
     color: white;
     
 }
 
/*HEADER*/

header {
    display: flex;
    gap: 2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    background-color: white;
    position: sticky;
    top: 0;
    height: 7vh;
   
}

.icon {
    display: none;
}

.title-logo {
    display: flex;
    gap: 1.2rem;
    margin-right: 1.5em;
    align-items: last baseline;
    
}

.title-decoupe {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 800;
   
}

.logo {
    width: 3em;
    object-fit: contain;
}

#navbar {
    display: flex;
}

.nav-items {
    display: flex;
    gap: 2em;
    align-items: flex-end;
}

.nav-item {
    color: black;
    font-weight: 500;
    display: flex;
    white-space: nowrap;
}

.nav-item:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.sticky {
    position: sticky;
    top: 0;
}

.navbarOffsetMargin {
    padding-top: 60px;
}


a {
    text-decoration: none;
}

.page-title{
    font-size: 3em;
    text-align: center;
}

.footer-box {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
    gap: 1em;
    margin-right: 1em;
    margin-left: 1em;
    
}
.footer-element {
color: black;
}



.actual {
    text-decoration: underline;
    text-underline-offset: 3px;
}