html {
    font-family: sans-serif;
    font-family: 'Exo 2', sans-serif;
}


.contactez-moi-box {
    border: #057d9e solid 2px;
    padding: 0.2em;
    display: flex;
    border-radius: 1em;
    margin-top: -2em;
    gap: 0.5em;
 }
 
 
 .realisation-title{
 color:#057d9e ;
 font-weight: bold;
 }
 
 .realisation-list {
     width: 10em;
     line-height: 120%;
 }
 
 .contact-button {
     color: white;
     border: #057d9e solid;
     background-color: #057d9e;
     border-radius: 1em;
     padding-top: 0.1em;
     padding-bottom: 0.3em;
     padding-left: 0.3em;
     padding-right: 0.3em;
     height: 2em;
     align-items: center;
 }
 
 .contact-button:hover {
     color: #057d9e;
     background-color: white;
 }
 
/*HEADER*/

header {
    display: flex;
    padding-top: 1.5em;
    gap: 2em;
    padding-left: 6em;
    background-color: white;
    position: sticky;
    top: 1em;
    margin-top: 1em;
}

.icon {
    display: none;
}

.title-logo {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    padding-bottom: 0.2em;
    margin-top: -4em;
}

.title-decoupe {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 800;


}

.logo {
    width: 3em
}

#navbar {
    display: flex;
}

.nav-items {
    display: flex;
    gap: 2em;
}

.nav-item {
    color: black;
    font-weight: 500
}

.nav-item:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.sticky {
    position: sticky;
    top: 0;
}

.navbarOffsetMargin {
    padding-top: 60px;
}


a {
    text-decoration: none;
}

.page-title{
    font-size: 3em;
    text-align: center;
}

.footer-box {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
    gap: 1em;
}

.footer-element:hover {
    text-decoration: underline;
}