.container-article-two-img {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.container-other {
    display: flex;
justify-content: center;
}

article {
    width: 25vw;
   text-align: center; 
}

.article-two-img {
    width: 80vw;
   
}

.other-articles {
 display: flex;   
 gap: 2em;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    color:#057d9e ;
}

.article-img {
    text-align: center;
    width: 25vw;
}

.paragraph {
margin-top: 1em;
font-size: 1.2em;
text-align: start;
line-height: 150%;
}


.imgs {
    display: flex;
    gap: 2em;
    justify-content: center; 
}

@media screen and (max-width: 767px) { 
    article {
        width:90vw;
       text-align: center; 
    }

    .container-other {
        display: flex;
    justify-content: center
    margin-left: 3em;
    }

    .article-img {
        width: 45vw;
    }

   
    .other-articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    p {
        font-size: 1.2em;
    }

    .imgs {
        gap: 1em;
    }

}